/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Colors */
    --main-bg-color: #f4f4f4;
    --main-text-color: #333;
    --main-link-color: #007bff;
    --main-link-hover-color: #0056b3;
    --main-border-color: #ccc;
    --main-border-radius: 5px;
    --main-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    --main-transition: 0.3s;
    --banner-bg-color:red;
    --banner-text-color: white;
}
/* Body */
.header, .footer  {
    background: var(--banner-bg-color);
    color: var(--banner-text-color);
    border-bottom: 1px solid var(--main-border-color);
    padding: 10px 0;
    font-style: italic;
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}



.left-side {
    

}

.right-side {

}